In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from sklearn import linear_model

In [2]:
df = pd.read_csv("housedata.csv")
df

   area    price
0  2600   550000
1  3000   680000
2  3400   970000
3  3800  1234560
4  4200  1566400
5  4600  1876570
6  5000  2109710

In [4]:
df.price.describe().astype(int)

count          7
mean     1283891
std       594039
min       550000
25%       825000
50%      1234560
75%      1721485
max      2109710
Name: price, dtype: int32