In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df1 = pd.read_csv("bengaluru_house_prices.csv")

In [3]:
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17a

In [8]:
df1['area_type'].unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [11]:
df1['area_type'].value_counts()

area_type
Super built-up  Area    8790
Built-up  Area          2418
Plot  Area              2025
Carpet  Area              87
Name: count, dtype: int64

In [12]:
df1.columns

Index(['area_type', 'availability', 'location', 'size', 'society',
       'total_sqft', 'bath', 'balcony', 'price'],
      dtype='object')

In [13]:
df1

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17a

In [21]:
df2 = df1.drop(['area_type','availability','society','balcony'],axis=1)

In [22]:
df2.head()

                   location       size total_sqft  bath  price
0  Electronic City Phase II      2 BHK       1056   2.0  39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0    120
2               Uttarahalli      3 BHK       1440   2.0     62
3        Lingadheeranahalli      3 BHK       1521   3.0     95
4                  Kothanur      2 BHK       1200   2.0     51

In [23]:
df2.isna().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [27]:
df2.shape

(13320, 5)

In [24]:
df3 = df2.dropna()

In [26]:
df3.shape

(13246, 5)

In [29]:
df3.isna().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [33]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [36]:
text1 = '2 Bedroom'

In [37]:
text1.split(' ')

['2', 'Bedroom']

In [38]:
text1[0]

'2'

In [34]:
df3['new_bhk_size'] = df3['size'].apply(lambda x : int(x.split(' ')[0]))

C:\Users\10726620\AppData\Local\Temp\ipykernel_19432\3339400617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['new_bhk_size'] = df3['size'].apply(lambda x : int(x.split(' ')[0]))

In [39]:
df3.head()

                   location       size total_sqft  bath  price  new_bhk_size
0  Electronic City Phase II      2 BHK       1056   2.0  39.07             2
1          Chikka Tirupathi  4 Bedroom       2600   5.0    120             4
2               Uttarahalli      3 BHK       1440   2.0     62             3
3        Lingadheeranahalli      3 BHK       1521   3.0     95             3
4                  Kothanur      2 BHK       1200   2.0     51             2

In [42]:
df3.drop('size',axis='columns',inplace=True)

C:\Users\10726620\AppData\Local\Temp\ipykernel_19432\1814700919.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3.drop('size',axis='columns',inplace=True)

In [64]:
df3['new_bhk_size'].value_counts().sort_index(ascending=False)

new_bhk_size
43       1
27       1
19       1
18       1
16       1
14       1
13       1
12       1
11       4
10      14
9       54
8       89
7      100
6      221
5      353
4     1395
3     4832
2     5527
1      649
Name: count, dtype: int64

In [66]:
df3[df3['new_bhk_size']>20]

                       location total_sqft  bath price  new_bhk_size
1718  2Electronic City Phase II       8000  27.0   230            27
4684                Munnekollal       2400  40.0   660            43

In [70]:
df3['total_sqft'].unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [72]:
def contains_range_of_values(x):
    try:
        float(x)
    except:
        return True
    return False

In [78]:
df4 = df3[df3['total_sqft'].apply(contains_range_of_values)]

In [79]:
df4['total_sqft'].unique()

array(['2100 - 2850', '3067 - 8156', '1042 - 1105', '1145 - 1340',
       '1015 - 1540', '34.46Sq. Meter', '1195 - 1440', '4125Perch',
       '1120 - 1145', '3090 - 5002', '1160 - 1195', '1000Sq. Meter',
       '1115 - 1130', '1100Sq. Yards', '520 - 645', '1000 - 1285',
       '650 - 665', '633 - 666', '5.31Acres', '30Acres', '1445 - 1455',
       '884 - 1116', '850 - 1093', '716Sq. Meter', '547.34 - 827.31',
       '580 - 650', '3425 - 3435', '1804 - 2273', '3630 - 3800',
       '4000 - 5249', '1500Sq. Meter', '142.61Sq. Meter', '1574Sq. Yards',
       '1250 - 1305', '670 - 980', '1005.03 - 1252.49', '1004 - 1204',
       '361.33Sq. Yards', '645 - 936', '2710 - 3360', '2830 - 2882',
       '596 - 804', '1255 - 1863', '1300 - 1405', '117Sq. Yards',
       '934 - 1437', '980 - 1030', '2249.81 - 4112.19', '1070 - 1315',
       '3040Sq. Meter', '500Sq. Yards', '2806 - 3019', '613 - 648',
       '704 - 730', '1210 - 1477', '3369 - 3464', '1125 - 1500',
       '167Sq. Meter', '1076 - 1199', '381 - 535', '524 - 894',
       '540 - 670', '315Sq. Yards', '2725 - 3250', '888 - 1290',
       '660 - 700', '385 - 440', '770 - 841', '3Cents', '188.89Sq. Yards',
       '1469 - 1766', '204Sq. Meter', '1255 - 1350', '870 - 1080',
       '45Sq. Yards', '133.3Sq. Yards', '2580 - 2591', '2563 - 2733',
       '605 - 624', '1349 - 3324', '78.03Sq. Meter', '3300 - 3335',
       '1180 - 1630', '1365 - 1700', '122Sq. Yards', '84.53Sq. Meter',
       '2.09Acres', '981 - 1249', '1565 - 1595', '24Guntha',
       '1270 - 1275', '840 - 1010', '697Sq. Meter', '655 - 742',
       '1408 - 1455', '942 - 1117', '598 - 958', '1500Cents',
       '132Sq. Yards', '1010 - 1300', '2Acres', '1450 - 1950',
       '1100Sq. Meter', '15Acres', '763 - 805', '3307 - 3464',
       '1.26Acres', '620 - 934', '2462 - 2467', '540 - 740',
       '3508 - 4201', '4900 - 4940', '755 - 770', '664 - 722',
       '151.11Sq. Yards', '596 - 861', '615 - 985', '540 - 565',
       '750 - 800', '1660 - 1805', '1079 - 1183', '2800 - 2870',
       '1230 - 1290', '943 - 1220', '2041 - 2090', '527 - 639',
       '1Grounds', '1160 - 1315', '706 - 716', '2940Sq. Yards',
       '45.06Sq. Meter', '799 - 803', '2470 - 2790', '783 - 943',
       '4500 - 5540', '1255 - 1375', '610 - 615', '854 - 960',
       '2650 - 2990', '1.25Acres', '86.72Sq. Meter', '1230 - 1490',
       '660 - 780', '1150 - 1194', '684 - 810', '1510 - 1670',
       '1550 - 1590', '1235 - 1410', '38Guntha', '929 - 1078',
       '2150 - 2225', '1520 - 1759', '629 - 1026', '1215 - 1495',
       '6Acres', '1140 - 1250', '2400 - 2600', '1052 - 1322',
       '5666 - 5669', '712 - 938', '1783 - 1878', '120Sq. Yards',
       '24Sq. Meter', '2528 - 3188', '650 - 760', '1400 - 1421',
       '4000 - 4450', '142.84Sq. Meter', '300Sq. Yards', '1437 - 1629',
       '850 - 1060', '1200 - 1470', '1133 - 1384'], dtype=object)

In [85]:
def convert_to_single_value(x):
    dummy = x.split('-')
    if (len(dummy)==2):
        return (float(dummy[0])+float(dummy[1]))/2
    try:
        return float(x)
    except:
        return None

In [86]:
convert_to_single_value('12-90')

51.0